.listitem {
	border-bottom: 1px solid #ddd;
}

.listitem > div:last-child {
	padding: 10px 10px 10px 0;
}

.listitem i.delete-item {
	display: block;
	position: relative;
	top: -4px;
	left: -4px;
	width: 17px;
	height: 17px;
	color: #F00;
	font-size: 18px;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.1s;
	-moz-transition: -moz-transform 0.2s, opacity 0.1s;
	-o-transition: -o-transform 0.2s, opacity 0.1s;
	-ms-transition: -ms-transform 0.2s, opacity 0.1s;
	-webkit-transform: rotate(135deg) scale(0.5);
	-moz-transform: rotate(135deg) scale(0.5);
	-o-transform: rotate(135deg) scale(0.5);
	-ms-transform: rotate(135deg) scale(0.5);
}

.listitem i.delete-item span {
	display: block;
	width: 17px;
	height: 17px;
	background: url(../../assets/images/delete_item_icon.png) 0 0 no-repeat;
	background-size: 100% 100%;
}

.listitem i.delete-item:hover span {
	background: url(../../assets/images/delete_item_icon_hover.png) 0 0 no-repeat;
	background-size: 100% 100%;
}

.listview.editmode .listitem i.delete-item {
	pointer-events: auto;
	-webkit-transform: rotate(0deg) scale(1.0);
	-moz-transform: rotate(0deg) scale(1.0);
	-o-transform: rotate(0deg) scale(1.0);
	-ms-transform: rotate(0deg) scale(1.0);
	opacity: 1;
}

.listview {
	background: #d0d0d0 url(../../assets/images/thatched_bg.png);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: moz-none;
	-ms-user-select: none;
	user-select: none;
}

.listitemcontainer {
	overflow: auto;
}

.listheader {
	background: #fff;
	border-bottom: 1px solid #bbb;
}

.listitem {
	cursor: default;
	overflow: hidden;
	background: #fff;
	border-bottom: 1px solid #aaa;
	-webkit-transition: background 0.15s;
	-moz-transition: background 0.15s;
	-o-transition: background 0.15s;
	-ms-transition: background 0.15s;
}

.listitem.removing, .listitem.removing:hover {
	background: #FFBEBE;
}

.listitem:hover {
	background: #f7f7f7;
}

.listitem * {
	pointer-events: none;
}

.listitem .selector {
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 40px;
	border: 2px solid #fff;
    background: #fff;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
    position: absolute;
    left: 14px;
    top: 19px;

    -webkit-transition: background 0.25s;
	-moz-transition: background 0.25s;
	-o-transition: background 0.25s;
	-ms-transition: background 0.25s;
}

.listitem:hover .selector {
	background: #bbb;
}
.listitem.selected .selector, .listitem.selected:hover .selector {
	background: #5EF240;
}